<section>
  <div class="page-header">
    <h2> Squad Allocation for {{vm.squadallocation.employee.name}}</h2>
    <small>
      <em class="text-muted">
        Posted on
        <span data-ng-bind="vm.squadallocation.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="vm.squadallocation.user"
              data-ng-bind="vm.squadallocation.user.displayName"></span>
        <span data-ng-if="!vm.squadallocation.user">Deleted User</span>
      </em>
    </small>
  </div>
  <div class="pull-right"
       data-ng-show="vm.squadallocation.isCurrentUserOwner || vm.authentication.user.isUser">
    <a class="btn btn-primary"
       data-ui-sref="squads.view({ squadId: vm.squadallocation.squad._id})">
      View Squad
    </a>
    <a class="btn btn-primary"
       data-ui-sref="squadallocations.list({ employeeId: vm.employee._id })">
      Squad Allocations
    </a>
    <a class="btn btn-primary"
       data-ui-sref="squadallocations.edit({ squadallocationId: vm.squadallocation._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <p ng-if="vm.squad" class="lead" data-ng-bind="vm.squad.listName"></p>
  <p class="lead">{{vm.squadallocation.allocation}} %</p>
</section>
