<button type="button" class="btn btn-secondary btn-sm" ng-click="vm.openOpportunityModal()">Add New Value</button>
<div class="list-group">
  <search-table menu-callback="vm.opportunityMenuCallback" titles="vm.valuesTitles" entries="vm.displayedValues"
                menu-item-labels="['Edit', 'Remove']"
                view-link-callback="vm.linkClicked"></search-table>
</div>

<div class="panel-body">
  <script type="text/ng-template" id="confirmOpportunityValue.html">
    <div class="modal-header">
      <h4 class="modal-title">Opportunity Value</h4>
    </div>
    <div class="modal-body">
      <form name="vm.form.opportunityAmountForm">
        <div class="form-horizontal">
          <div class="form-group" show-errors>
            <label class="col-sm-4 control-label" for="amount">Amount</label>
            <div class="col-sm-8">
              <input autofocus name="amount" type="number" ng-model="vm.selectedOpportunityAmount.amount" id="amount"
                     class="form-control"
                     placeholder="$"
                     required>
              <div ng-messages="vm.form.opportunityAmountForm.amount.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Opportunity amount is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="col-sm-4 control-label" for="description">Description</label>
            <div class="col-sm-8">
              <input name="description" type="text" ng-model="vm.selectedOpportunityAmount.description" id="description"
                     class="form-control"
                     placeholder=""
                     required>
              <div ng-messages="vm.form.opportunityAmountForm.description.$error" role="alert">
                <p class="help-block error-text" ng-message="required">ODescription is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="col-sm-4 control-label" for="opportunityDate">Start Date</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input name="opportunityDate" id="opportunityDate" type="text" class="form-control"
                       uib-datepicker-popup="{{format}}"
                       ng-model="vm.selectedOpportunityAmount.date"
                       date-disabled="vm.disabled(date, mode)"
                       is-open="vm.isCalendarOpen"
                       ng-required="true"
                       close-text="Close"
                       alt-input-formats="vm.altInputFormats"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm" ng-click="vm.openCalendar()"><span
                      class="ssticon ssticon-calendar"></span></button>
                  </span>
              </div>
              <div ng-messages="vm.form.opportunityAmountForm.opportunityDate.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Opportunity start date is required.</p>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label class="col-sm-4 control-label" for="repeatSelect">Repeat</label>
            <div class="col-sm-8">
              <select name="repeatSelect" id="repeatSelect" ng-model="vm.selectedOpportunityAmount.repeat"
                      class="form-control"
                      required>
                <option value="once">Once only</option>
                <option value="monthly">Monthly</option>
                <option value="quarterly">Quarterly</option>
                <option value="half yearly">Half Yearly</option>
                <option value="yearly">Yearly</option>
              </select>
            </div>

            <div ng-messages="vm.form.opportunityAmountForm.repeatSelect.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Repeat option is required.</p>
            </div>
          </div>
          <div class="buttons-action">
            <button class="btn btn-primary btn-sm" ng-click="confirmOpportunity(vm.form.opportunityAmountForm.$valid)">
              Confirm Opportunity
            </button>
            <button class="btn btn-secondary btn-sm" ng-click="cancel()">Cancel</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>
      </form>
    </div>
  </script>
</div>

