<div class="footer-wrapper hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <footer class="col-xs-12 footer">
                <div class="row">
                  <!--<div class="col-xs-12 col-md-3">-->
                    <!--<a href="javascript:void(0)" class="footer-button">-->
                      <!--<span class="ssticon ssticon-font-awesome-phone" aria-hidden="true"></span>-->
                      <!--<h5 class="footer-button-title" translate>CONTACTUS</h5>-->
                      <!--<small class="footer-button-subtitle" translate></small>-->
                    <!--</a>-->
                  <!--</div>-->

                  <!--<div class="col-xs-12 col-md-3">-->
                    <!--<a href="javascript:void(0)" class="footer-button last-button">-->
                      <!--<span class="ssticon ssticon-list" aria-hidden="true"></span>-->
                      <!--<h5 class="footer-button-title" translate></h5>-->
                    <!--</a>-->
                  <!--</div>-->
                </div>
            </footer>
        </div>
    </div>
</div>

