<div id="lee">
  <div class="container-fluid bg-white">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="hero-container">
      <div class="col-md-5">
        <div class="sst-grey-transparent-bg">
        </div>
        <div class="hero-content">
          <div class="main-title">
          </div>
          <!--<div>
            <a href="" class="btn">Start Now</a>
          </div>-->
        </div>
      </div>
    </div>
  </div>


  <!-- /.container-fluid -->
</div>
