<div class="page-header">
  <h1>Employees</h1>
  <div class="form-group col-md-3" style="margin-top: 2em">
    <label class="control-label">Business Unit</label>
    <select ng-change="vm.businessUnitChanged()" name="businessUnit" id="businessUnit" ng-model="vm.businessUnit"
            class="form-control"
            ng-options="bu.name for bu in vm.businessUnits track by bu._id">
      <option value="">---Select Business Unit---</option>
    </select>
    <img class="pull-right" ng-show="vm.showSpinner" ng-src="img/spinner.gif" alt="Spinner" height="42" width="42">
  </div>
</div>
<br>

<span class="row">
<search-table menu-callback="vm.employeeListMenuCallback" titles="vm.employeeListTitles"
              entries="vm.displayedValues"
              menu-item-labels="['View', 'Edit']"
              view-link-callback="vm.openEmployeeView"></search-table>
</span>
