<section>
  <div class="page-header">
    <h2> Opportunity: {{vm.opportunityaction.opportunity.name}}</h2>
    <h2> Action: {{vm.opportunityaction.name}}</h2>
    <h2 ng-show="vm.opportunityaction.dueBy <= vm.currentDate" style="color:red">Due by: {{vm.opportunityaction.dueBy |
      date
      :medium}}</h2>
    <h2 ng-show="vm.opportunityaction.dueBy > vm.currentDate">Due by: {{vm.opportunityaction.dueBy | date
      :medium}}</h2>

    <small>
      <em class="text-muted">
        Posted on
        <span data-ng-bind="vm.opportunityaction.created | date:'mediumDate'"></span>
        assigned to
        <span data-ng-if="vm.opportunityaction.user"
              data-ng-bind="vm.opportunityaction.user.displayName"></span>
        <span data-ng-if="!vm.opportunityaction.user">Deleted User</span>
      </em>
    </small>
  </div>
  <div class="pull-right"
       data-ng-show="vm.opportunityaction.isCurrentUserOwner || vm.authentication.user.isUser">
    <a class="btn btn-primary"
       data-ui-sref="opportunityactions.edit({ opportunityactionId: vm.opportunityaction._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <div id="progresschart"></div>
</section>
